node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/H-W-22/reports/
/H-W-24/cypress/reports/
/H-W-24/cypress/screenshots/
/H-W-24/cypress/videos/
/H-W-23/allure-results/
/H-W-23/allure-report/
/H-W-23/test-results/

